#logo {
  width: 140px;
  height: 56px;
}

body {
  overflow: hidden;
}

.sidebar {
  overflow-y: auto;
  height: 100vh;
  overflow-x: hidden;
}

.sidebar #li-hidden {
  display: none;
}

.sidebar.hidden #li-hidden {
  display: block;
}

.sidebar.hidden {
  width: 78px;
  height: 100%;
  left: 0;
  overflow-y: hidden;
  z-index: 100;
}

.sidebar.hidden {
  background-color: #ffff;
}

.sidebar.hidden ul li a {
  height: 50px;
  width: 50px;
  border-radius: 20rem;
}

.sidebar.hidden ul li a .text {
  opacity: 0;
}

.sidebar.hidden #ul-hidden {
  display: none;
}

.sidebar a:hover {
  background-color: lightgray;
  color: black;
}

.navbar {
  height: 60px;
  --navbar-height: 60px;
}

.sidebar::-webkit-scrollbar {
  width: 8px;
}

.sidebar::-webkit-scrollbar-track {
  background-color: #ffff;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #ffff;
  transition: background-color 0.3s ease-in-out;
  border-radius: 8px;
}

.sidebar:hover::-webkit-scrollbar-thumb {
  background-color: #555;
}

.search {
  margin-top: 5px;
}

@media (min-width: 1100px) {
  .search {
    width: 650px;
    height: 40px;
  }

}

@media (max-width: 900px) {
  .sidebar {
    width: 78px;
  }

  .sidebar #ul-hidden {
    display: none;
  }

  .sidebar ul li a {
    height: 50px;
    width: 50px;
    border-radius: 20rem;
  }

  .sidebar ul li a .text {
    opacity: 0;
  }

  .sidebar #li-hidden {
    display: block;
  }

  .search .input-group {
    width: 200px;
  }

  #hide {
    display: none;
  }

  #mic {
    display: none;
  }
}



.button-container {
  white-space: nowrap;
  overflow-x: scroll;
}

#start {
  white-space: nowrap;
}

#center {
  white-space: nowrap;
}

#end {
  white-space: nowrap;
  display: block;
}

#mainvd {
  overflow: auto;
  overflow-y: scroll;
  max-height: 100vh;
}

.embed-responsive-item {
  border-radius: 1rem;
}

@media (max-width: 767px) {
  .input-group input {
    display: none;
  }

  #button-addon2 {
    display: block;
  }

  #mainvd .embed-responsive iframe {
    display: flex;
    display: j;
  }
}

#shorts {
  white-space: nowrap;
  overflow-x: scroll;
}